<DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Group: <%= groupName %>
        </title>
        <link rel="stylesheet" href="/index.css">
    </head>

    <body>
        <%- include('partials/Title'); %>
        <div> Welcome to group: <%= groupName %>
        </div>
        
        <div id="calendarTopper">
            <button id="decrementMonth">
                < </button>
                    <h3 id="monthHeader"> </h3>
                    <button id="incrementMonth"> > </button>
        </div>
        <div id="calendar"></div>
        <%- include('partials/calendar'); %>
    </body>


    </html>