<div id="calendar"></div>
<script src="calendar.js"></script>
<script>
    // making sure the month loads upon first load in FIXED THE GLITCH LETS go
    window.onload = function() {
        calendarDates(currentWorkingDate); 
    };

    
</script>