<div class="calendar" id="calendar">
   <div class="monthindicator"> </div> 
   <div class="day-of-week"> 
        <div> Sun</div>
        <div> Mon</div>
        <div> Tu</div>
        <div> Wed</div>
        <div> Thur</div>
        <div> Fri</div>
        <div> Sat</div>
   </div> 
   <div class="date-grid"> </div> 

   <div class="date-grid">
    <button><time datetime="2024-8-01">1</time></button>
    <button><time datetime="2024-8-02">2</time></button>
    <button><time datetime="2024-8-03">3</time></button>
    <button><time datetime="2024-8-28">28</time></button>
  </div>
</div>