<div id="group"></div>
<form action="/create-group" method="POST">
    <input type="text" value="Group Name" id="createGroupName">
    <input type="submit" id="submitGroupName" value="Create" >
</form>
<script src="group.js"></script>